<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Chat Room
    </title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles/style.css')}}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-5Oz84U9nT3Sf6tW2ByzIdmJn9xC2TTLpOEi5pnf9lzwGgF6kUu8C+9j1F/MEBt8MBlBffTW7xep9SH9hSOyeZBA==" crossorigin="anonymous"></script>
</head>
<body>
    <div id="root">
        {% block content %}

        {% endblock %}
    </div>
</body>
</html>
